// out:styles.css, sourcemap:true, compress:true, main:style.less

.background{
    background-image: url(/img/div_background.jpg);
    background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
  	-o-background-size: 100% 100%;        /* Opera 9.5 */
  	-webkit-background-size: 100% 100%;   /* Safari 3.0 */
  	background-size: 100% 100%;
  }

  @color : rgb(214,179,82);

  .border{
    border-radius: 0px!important;
	  border: 0px!important;
  }

  @background-color : rgba(37,22,19,0.5)!important;

  .sections-accueil{
    align-content: center;
  	width:33%;
  	height:60em;
  }


  @keyframes AutoSlide {
  	0%, 15%, 100% {
  		left: 0px; /*1ère image*/
  	}
  	35%, 50% {
  		left: -150px; /*2ème image*/
  	}
  	70%, 85% {
  		left: -300px; /*3ème image*/
  	}
  }

  @keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }

  body { margin: 0; }

  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
  }
