// out:styles.css, sourcemap:true, compress:true, main:style.less

.background{
    background-image: url(/img/div_background.jpg);
    background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
  	-o-background-size: 100% 100%;        /* Opera 9.5 */
  	-webkit-background-size: 100% 100%;   /* Safari 3.0 */
  	background-size: 100% 100%;
  }

  @color : rgb(214,179,82);

  .border{
    border-radius: 0px!important;
	  border: 0px!important;
  }

  @background-color : rgba(37,22,19,0.5)!important;

  .sections-accueil{
    align-content: center;
  	width:33%;
  	height:60em;
  }
