body{
	background-image: url(/img/div_background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: 100% 100%;        /* Opera 9.5 */
	-webkit-background-size: 100% 100%;   /* Safari 3.0 */
	background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
}


.navbar{
	margin-bottom: 0px!important;
	background: rgba(37,22,19,0.5)!important;
	color: rgb(214,179,82);
}

.navbar-default{
	border-radius: 0px!important;
	border: 0px!important;
}

a.active{
	background-color: background: rgba(214,179,82,0.5)!important;
	color: rgb(37,22,19)!important;
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

html,
body,
main,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 99.2%;
}

.item:nth-child(1) {

}

.item:nth-child(2){
}

.item:nth-child(3){
}

.carousel-caption{
	background: rgba(37,22,19,0.7);
	text-align: center;
	color: rgb(214,179,82)!important;
	width: 100%;
	height:10em;
	left:0%!important;
	bottom: 0%!important;
}


.wow-helping{
	display: flex;
	flex-direction: row;
  justify-content: space-around;
  align-item: center;
	height: 100%;
	bottom : 20em;
}

.container-news{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.news-brokenshore, .news-artifact-power, .news-dps-ranking, .news-raid{
	background: rgba(37,22,19,0.7);
	align-content: center;
	width: 50%;
	padding: 1em;
	margin-top: 1.5em;
  margin-left: 25%;
	border-color: rgb(147, 125, 63)!important;
	border: solid;
}


.tank-guide, .heal-guide, .leveling, .farming{
	background: rgba(37,22,19,0.7);
	align-content: center;
	width: 25%;
	/*height: 22em;*/
	padding: 1em;
	margin: 0.5em;
	border-color: rgb(147, 125, 63)!important;
	border: solid;
}



.jumbotron{
	margin:0 auto;
	margin-top: 10em;
	height: 41em;
	width: 55em;
	background: rgba(37,22,19,0.7)!important;
	border: solid rgb(147, 125, 63)!important;
}

.nav-tabs > li > a {
-webkit-border-radius: 0px!important;
-moz-border-radius: 0px!important;
border-radius: 0px!important;
}

.nythendra {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.nythendra iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ursoc {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.ursoc iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.elerethe {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.elerethe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.ilgynoth {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.ilgynoth iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.dragons {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.dragons iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.cenarius {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.cenarius iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.xavius {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.xavius iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


article{
	text-align: center;
	color: rgb(214,179,82);
}

p{
	text-align: justify;
}

a{
	color:rgb(214,179,82)!important;
	font-weight: bold;
}



div{
		color:rgb(214,179,82);
}


.footer-index{
	background: rgba(37,22,19,0.7);
	text-align: center;
	color: rgb(214,179,82);
	position: absolute;
    left: 0;
    bottom: -47.5%;
    height: 100px;
    width: 100%;
}

.footer-news{
	background: rgba(37,22,19,0.7);
	text-align: center;
	color: rgb(214,179,82);
	position: absolute;
    left: 0;
    bottom: -90%;
    height: 100px;
    width: 100%;
}
